# === Логи и отчеты об ошибках ===
logs/
crash-reports/
*.log

# === Миры, бэкапы и данные карт (у каждого игрока свои) ===
backups/
XaeroWaypoints/
XaeroWaypoints_BACKUP*/
XaeroWorldMap/
TIWorldData/
TCNodeTracker/
compendiumunlocks/
compendiumUpdates/
DivineRPG/
BotaniaVars.dat

# === Кэш, библиотеки и служебные папки лаунчера ===
.analytics/
libraries/
versions/
data/
local/
asm/
usernamecache.json
usercache.json

# === Пользовательские настройки (чтобы не сбивать чужие) ===
betterfps.txt
servers.dat
perms.txt

# === Медиа ===
screenshots/