# Configuration file for AntiIdConflict

general {
    # Set to true to automatically reassign conflicting enchantment IDs
    B:OverrideEnchantmentsConflicts=true

    # Set to true to automatically reassign conflicting potion IDs  
    B:OverridePotionsConflicts=true

    # Set to true to also reassign conflicts for items, blocks, etc.
    B:OverrideGenericConflicts=true
}