# Configuration file

"drpgcaveclops#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 30]
    I:maxAttackTime=30

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 30]
    I:minAttackTime=30

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.25]
    S:moveSpeedTowardsTarget=0.25

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"drpgenchantedarcher#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 60]
    I:maxAttackTime=60

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 15]
    I:minAttackTime=15

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 15.0]
    S:range=15.0
}


"drpgfrostarcher#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 2]
    I:maxAttackTime=2

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 2]
    I:minAttackTime=2

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.27]
    S:moveSpeedTowardsTarget=0.27

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"drpgkazrotic#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 15]
    I:maxAttackTime=15

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 15]
    I:minAttackTime=15

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.25]
    S:moveSpeedTowardsTarget=0.25

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 40.0]
    S:range=40.0
}


"drpglivingstatue#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 10]
    I:maxAttackTime=10

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 10]
    I:minAttackTime=10

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.27]
    S:moveSpeedTowardsTarget=0.27

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 60.0]
    S:range=60.0
}


"drpgreyvor#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 40]
    I:maxAttackTime=40

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 40]
    I:minAttackTime=40

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.25]
    S:moveSpeedTowardsTarget=0.25

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 64.0]
    S:range=64.0
}


"drpgskythernarcher#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 60]
    I:maxAttackTime=60

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 15]
    I:minAttackTime=15

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 15.0]
    S:range=15.0
}


"drpgsunarcher#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 50]
    I:maxAttackTime=50

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 50]
    I:minAttackTime=50

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.27]
    S:moveSpeedTowardsTarget=0.27

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"drpgtwilightarcher#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 60]
    I:maxAttackTime=60

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 15]
    I:minAttackTime=15

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 15.0]
    S:range=15.0
}


"drpgtwins#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 10]
    I:maxAttackTime=10

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 10]
    I:minAttackTime=10

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.25]
    S:moveSpeedTowardsTarget=0.25

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 64.0]
    S:range=64.0
}


"drpgwildfire#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 15]
    I:maxAttackTime=15

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 15]
    I:minAttackTime=15

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 0.25]
    S:moveSpeedTowardsTarget=0.25

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"skeleton#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 60]
    I:maxAttackTime=60

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:minAttackTime=20

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 15.0]
    S:range=15.0
}


"snowman#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 20]
    I:maxAttackTime=20

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:minAttackTime=20

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.25]
    S:moveSpeedTowardsTarget=1.25

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"witch#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 60]
    I:maxAttackTime=60

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 60]
    I:minAttackTime=60

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"witherboss#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 40]
    I:maxAttackTime=40

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 40]
    I:minAttackTime=40

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 20.0]
    S:range=20.0
}


