# Configuration file

~CONFIG_VERSION: rv3-beta-6

counters {
    I:lastGridStorage=19
    I:lastPlayer=1
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
    S:1=H4sIAAAAAAAAAONiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:9=H4sIAAAAAAAAAONiYGBj4E6tKClKdM1LLUqvdOj73yDgxcDAAAAfHeFaGgAAAA==
}


orderedvalues {
    I:presses=4
}


players {
    I:89cc2d07-9aa0-4be0-9d2b-7290264c4a90=0
}


